# PureGym Credentials
email=name@gmail.co.uk
pin=12345678

# Postgres 
POSTGRES_HOST=timescaledb
POSTGRES_DB=puregym_db

# Postgres - Users
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

PUREGYM_API_CLIENT_USER=puregym_api_client
PUREGYM_API_CLIENT_PASSWORD=changeme